.layout {
    color: var(--txt-color)
}

.layout-content {
    padding-left: var(--sidebar-width);
    background-color: var(--second-bg);
    min-height: 100vh;
}

.layout-content-main {
    padding: 15px;
}